<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 overflow-scroll">
        <div class="flex justify-between items-center px-10 pt-6 pb-4">
            <h1 class="text-3xl text-blue-500">
                <span class="text-white font-light">Hello, </span> <%= user.name %> 👋
            </h1>
            <a href="/logout" class="text-white px-4 py-2 bg-red-700 rounded-md text-sm">Logout</a>
        </div>

        <form action="/post" method="post" class="px-10">
            <textarea placeholder="What's on your mind?"
            class="block px-4 py-2 resize-none bg-transparent border-2 border-zinc-700 rounded-md w-[400px] h-40 text-white mb-4" 
            name="postdesc" id=""></textarea>
            <input class="block px-4 py-2 bg-blue-700 text-white rounded-md text-sm" 
            type="submit" value="Create Post">
        </form>

        <h1 class="text-zinc-400 mb-4 block px-10 mt-5">Your Posts</h1>

        <div class="post-area w-full px-10">
            
            <div class="post-container w-full h-[420px] flex gap-2 flex-wrap">

                <% user.posts.reverse().forEach(post => { %>
                    <div post class="w-72 h-48 bg-transparent border-2 border-zinc-700 rounded-md px-4 py-2">
                        <h3 class="text-blue-500 mb-2"> @<%= user.username %> </h3>
                        <div class="post-text-area w-full h-28 overflow-scroll mb-2">
                            <p class="text-sm text-white tracking-tight">
                                <%= post.content %>
                            </p>
                        </div>
                        <div class="likes-container h-4 w-full px-2 py-1 text-sm text-white flex items-center gap-3">
                            <a class="text-blue-500" href="/like/<%= post._id %>">
                                <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Remove Like" %>
                            </a>
                            <small><%= post.likes.length %></small>
                            <a class="text-slate-400" href="/edit/<%= post._id %>">Edit</a>
                            <!-- <p><%= post.date %></p> -->
                            <a class="text-red-400" href="/delete/<%= post._id %>">Delete</a>
                        </div>
                    </div>
                <% }) %>

            </div>

        </div>
    </div>
</body>
</html>